<div class="min-h-[calc(100vh-10px)] max-h-[calc(100vh-10px)] overflow-y-auto">
    <main>
        <img class="banner" src="/images/job.jpg" alt="JobConnect Banner" style="height: 300px;">
        <h2>Welcome to the JobConnect Dashboard</h2>
        <p>This is your central hub for managing job applications, updating your profile, and accessing job postings.</p>
        <div class="content">
            <h3 style="color: cornflowerblue;">Quick Links:</h3>
            <ul>
                <li><a href="../static/main.html">Browse Job Listings</a></li>
                <li><a href="../static/profile.html">Update Your Profile</a></li>
                <li><a href="../static/job_description.html">Submit Job Details</a></li>
            </ul>
        </div>
    </main>


</div>